# Compiled Object files
*.slo
*.lo
*.o  
*.obj

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# editor backups
*.bak
*~
		       
# UNIX specific
.libs
.deps
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
stamp-h1
		       
# Windows specific
*.exe

# MSVC specific
*.user
*.ncb
*.psess
*.vsp

build/msvc2010/bin/
build/msvc2010/obj/
build/msvc2010/ipch/
build/msvc2010/out.html

build/msvc2008/bin/
build/msvc2008/obj/
build/msvc2008/ipch/
build/msvc2008/out.html

*.suo
*.sdf
*.opensdf

